* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    width: 246px;
    height: 385.562px;
}

button {
    width: 3rem;
    height: 3rem;
    border: 0;
    background-color: #273446;
    border-radius: 10px;
    outline: 0;
    font-size: 18px;
    text-align: center;
    color: #e4e4e4;
}

button:hover {
    background-color: #2a3a4e;
    color: #c4c4c4;
    cursor: pointer;
}

.empty {
    width: 3rem;
    height: 3rem;
}

.content {
    border: 2px solid white;
    background-color: #374353;
    border-radius: 8px;
    width: 250px;
    height: auto;
    padding-bottom: 20px;
}

.display {
    width: 12rem;
    height: min-content;
    border: 2px solid #515d6b;
    border-radius: 8px;
    color: #c4c4c4; 
    background-color: #3f4853;
    margin: 1rem auto 1rem;
}

.output-display {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 8px;
    text-align: end;
    padding: .3rem .5rem 0;
    outline: 0;
    font-size: 16px;
    color: #c4c4c4;
}

#calculation {
    cursor: default;
    pointer-events: none;
    background: none;
}

.all-buttons {
    width: min-content;
    margin: 0 auto;
}

.input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .4rem;
    margin: 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .4rem;
    row-gap: .4rem;
    width: min-content;
    height: min-content;
}

.side-buttons {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: .4rem;
    row-gap: .4rem;
    width: min-content;
    height: min-content;
}